<%= provide(:title, 'Contact Details') %>
  <h1>Contact Details</h1>
  <p>
    This is the page for all contact details for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>
</html>